#root {
  width: 160rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products-container {
  /* width: 1600px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.products-container-img {
  max-width: 100%;
  height: 20rem;
  width: 50rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.products-container-p, .products-container-h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  text-align: start;
}
.products-container-h2 {
  font-size: 2.5rem;
}
.products-container-a {
  text-decoration: none;
  font-size: 1.5rem;
  border: 1px solid white;
  background-color: rgb(234, 234, 234);
  border-radius: 0.3rem;
  color: rgb(124, 1, 108);
  padding: 0.2rem;
  align-self: start;
}
.link-container {
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
}
.products {
  height: 40rem;
  border: 2px solid #213547;
  background-color: #646cff;
  padding: 1rem;
}
.menu-items {
  color: #646cff;
}
.menu-items:hover {
  color: #535bf2;
}
.dropdown-content a {
  font-size: 2rem;
}
.menu-items {
  cursor: pointer;
}
.title {
  font-size: 3rem;
  margin-top: 2rem;
}
.products-img {
  width: 30%;
  margin-top: 3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #646cff;
}
.about-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  gap: 2rem;
  border: 1px solid #646cff;
  padding: 2rem;
  box-shadow: 1px 1px 20px #646cff;
}
.about-p {
  flex-basis: 60%;
  font-size: 1.8rem;
  margin-top: 2rem;
  text-align: start;
}
.about-img {
  flex-basis: 40%;
  width: 20%;
  box-shadow: 1px 1px 4px #646cff;
}
.form {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 5rem;
  border: 1px solid #646cff;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #646cff;
  margin-top: 2rem;
}
.form-text {
  font-size: 1.5rem;
  text-align: start;
}
.form-btn {
  font-size: 1.7rem;
  width: 8rem;
}
.form-btn:hover {
  background-color: #535bf2;
  transition: all 300ms ease-in-out;
}
.cart-quantity {
  color: #ffffff;
  font-size: 2.5rem;
}
.item-counter-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}
.item-counter {
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  margin-top: -10rem;
}
.item-counter p {
  margin-top: 3rem;
}
.add-to-cart {
  font-size: 1.5rem;
  flex-basis: 30%;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #646cff;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #646cff;
  cursor: pointer;
  margin-top: -10rem;
}
.cart-item {
  width: 120rem;
  display: flex;
  flex-direction: row;
/*   align-items: flex-start;
  justify-content: flex-start; */
  gap: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #646cff;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #646cff;
  padding: 1rem;

}
.cart-item-p {
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}
.cart-btn-reset,
.cart-btn-buy {
  width: 15rem;
  font-size: 2rem;
  margin-right: 1rem;
}
@media screen and (max-width: 347px) {
  .form {
    width: 30rem;
    padding: 2rem;
  }
}